body {
  padding: 0;
  margin: 0;
}

a {
  color: #34495e;
  text-decoration: none;

  &.router-link-exact-active {
    text-decoration: underline;
  }

  &:hover {
    color: #42b883;
    text-decoration: underline;
  }
}